body {
	font-family:Arial, Helvetica, sans-serif;
}

a {
	text-decoration:none;
	color:#000;
}

a.button {
	background-color:#eee;
	border:#999 thin solid;
	border-radius:10px;
	margin:4px;
	padding:5px;
	display:block;
	font-weight:bold;
	text-align:center;
}

.brown {
	background-color:#C19A6B !important;
	color:#FFF;
	border-color:#80461B !important;
}

#centre {

}

#head{
	font-weight:bold;
	color:#FFF;
	background:#333;
	padding:10px;
	font-size:1.5em;
}

.menuhider{
	display:block;
	color:#FFF;
	padding:5px;
	background-color:#666;
	text-align:center;
	margin: 5px 0;
}

ul.menu {
	padding:0;
	margin:5px;
}

li.menu {
	list-style:none;
	padding:5px;
	background-color:#eee;
	border:#999 thin solid;
	border-radius:10px;
}

#container {
	
}

#glossaryitems{
	padding:5px;
}

#glossaryentry{
	
}

#previousitems {
	display:none;
	margin-bottom:5px;
}

#previoustitle {
	display:none;
}

#questionfamily{
	font-size:1.5em;
	font-weight:normal;
	text-align:center;
	margin:5px 0;
}

#plantName {
	font-size:1.5em;
	font-weight:normal;
	margin:5px;
	text-align:center;
}

#fullstructure{
	text-align:center;
}

#picture {
	text-align:center;
}

#random {
	text-align:center;
	padding:5px;
}

.bold {
	font-weight:bold;
}

.italics {
	font-style:italic;
}

.hidden {
	display:none;
}

.clear {
	clear:both !important;
}

blockquote {
	background-color:#C19A6B;
	padding:10px;
	font-size:1.5em;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	display:block;
	margin:7px 0;
	color:#fbf8f5; 
}

.quoted {
	font-size:0.6em;
	margin-top:10px;
	float:right;
	color:#80461B;
}

.grey {
	background-color:#CCC;
	padding:3px;
	margin-bottom:5px;
}

.nodot{
	list-style:none;
}

.previous a {
	text-decoration:underline;
	font-style:italic;
}

.strike {
	color:#999;
	text-decoration:line-through;
}

.serif {
	font-family:Georgia, "Times New Roman", Times, serif;
}

.success {
	border: dotted thin #060;
	background-color:#D7FFD7;
	padding: 10px;
	margin: 10px 0;
}

.failure {
	border: dotted thin #F60;
	background-color:#FFE1E1;
	padding: 10px;
	margin: 10px 0;
}

.infobox {
	border: dotted thin #069;
	background-color:#DFF3FF;
	padding: 10px;
	margin: 10px 0;
}

h2 {
	font-weight:normal;
}