body {
	font-family:Arial, Helvetica, sans-serif;
}

a {
	text-decoration:none;
	color:#000;
}

a.button {
	background-color:#eee;
	border:#999 thin solid;
	border-radius:10px;
	margin:4px;
	padding:5px;
	display:block;
	font-weight:bold;
	text-align:center;
}

#centre {

}

#head{
	font-weight:bold;
	color:#FFF;
	background:#333;
	padding:10px;
	font-size:1.5em;
}

.menuhider{
	display:block;
	color:#FFF;
	padding:5px;
	background-color:#666;
	text-align:center;
}

ul.menu {
	padding:0;
	margin:5px;
}

li.menu {
	list-style:none;
	padding:5px;
	background-color:#eee;
	border:#999 thin solid;
	border-radius:10px;
}

#container {
	
}

#glossaryitems{
	padding:5px;
}

#glossaryentry{
	
}

#previousitems {
	display:none;
	margin-bottom:5px;
}

#previoustitle {
	display:none;
}

#previousQ{
	margin: 5px 0;
}

#questionfamily{
	font-size:1.2em;
	font-weight:normal;
	text-align:center;
	margin:5px 0;
}

#plantName {
	font-size:1.5em;
	font-weight:normal;
	margin:3px;
	text-align:center;
}

#fullstructure{
	text-align:center;
}

#picture {
	text-align:center;
}
.bold {
	font-weight:bold;
}

.italics {
	font-style:italic;
}

.hidden {
	display:none;
}

.clear {
	clear:both !important;
}

blockquote {
	background-color:#C19A6B;
	padding:10px;
	font-size:1.5em;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	display:block;
	margin:7px 0;
	color:#FFF;
}

.quoted {
	font-size:0.6em;
	margin-top:10px;
	float:right;
	color:#80461B;
}

.grey {
	background-color:#CCC;
	padding:3px;
	margin-bottom:5px;
}

.nodot{
	list-style:none;
}

.previous a {
	text-decoration:underline;
	font-style:italic;
}